fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
python-multipart

PyPDF2
python-docx
sentence-transformers
faiss-cpu
scikit-learn
numpy<2.0.0

google-generativeai
python-jose
passlib[bcrypt]
