# requirements.txt (FINAL)
fastapi==0.111.0
pydantic==2.7.1
uvicorn[standard]>=0.29.0

python-dotenv
google-generativeai
PyMuPDF
python-docx
beautifulsoup4
google-api-python-client
google-auth
google-auth-httplib2
requests
python-jose
